section {
  margin: 1rem;

  div:first-child {
    margin-bottom: 1rem;
  }

  div:last-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .custom-container {
    width: max-content;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}